.news-section {
  padding: 40px 20px;
  text-align: center;
  
  border-radius: 10px;
  max-width: 1200px;
  margin: 0 auto;

  h2 {
    font-size: 26px;
    color: #fff;
    margin-bottom: 20px;
  }

  .news-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .news-card {
    flex: 1 1 30%;
    min-width: 300px;
    transition: transform 0.5s ease-in-out;
  }

  
  .news-section-button {
    margin-top: 20px;
    padding: 12px 18px;
    background: #2980b9;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    display: block;
    margin: 20px auto;
  }

  .news-section-button:hover {
    background: #3498db;
  }
}


@media (max-width: 768px) {
  .news-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    justify-content: flex-start;
    padding-bottom: 10px;
    gap: 10px;
  }

  .news-card {
    flex: 0 0 100%;
    max-width: 90%;
    scroll-snap-align: start;
  }
}
